<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header th:fragment="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-4" style="border-bottom: 1px solid black; background-color: rgb(239, 233, 220)!important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/etusivu">CoffeeShop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/kahvilaitteet">Kahvilaitteet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/kulutustuotteet">Kulutustuotteet</a>
              </li>
            </ul>
            <div class="d-flex">
              <a class="btn btn-outline-success me-2" href="#">Login</a>
              <a class="btn btn-outline-success" href="#">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
