<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Admin - Tuotteet - <span th:text="${item.name}">Tuote</span></title>
  </head>
  <body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <main class="container mt-5">
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;
        "
      >
        <div>
          <a
            th:if="${previousItem != null}"
            th:href="@{/admin/tuotteet/{id}(id=${previousItem})}"
            >Edellinen</a
          >
        </div>
        <div>
          <a
            th:if="${nextItem != null}"
            th:href="@{/admin/tuotteet/{id}(id=${nextItem})}"
            >Seuraava</a
          >
        </div>
      </div>
      <h1 th:text="${item.name}">Tuote</h1>
      <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 3rem">
        <div class="card h-100" style="max-width: 400px">
          <img
            th:if="${item.image != null}"
            th:src="@{/admin/tuotteet/{id}/kuva(id=${item.image.id})}"
            class="card-img-top"
            alt="Tuotekuva"
          />
          <img
            th:unless="${item.image != null}"
            th:src="@{/images/No_Image_Available.png}"
            class="card-img-top"
            alt="Ei tuotekuvaa"
          />
        </div>
        <div class="col">
          <div class="card-body">
            <p class="card-text">
              <strong th:text="${item.price} + ' €'">Hinta</strong>
            </p>
            <p class="card-text" th:text="${item.description}">Kuvaus</p>
            <p>
              <strong class="card-text" th:text="${item.manufacturer.name}"
                >Valmistaja</strong
              >
            </p>
            <p class="card-text" th:text="${item.supplier.name}">Toimittaja</p>
          </div>
        </div>
      </div>

      <div
        style="
          margin: 1rem 0 2rem 0;
          display: flex;
          justify-content: space-between;
        "
      >
        <a href="/admin/tuotteet" class="btn btn-primary mt-3">Takaisin</a>
        <div style="display: flex; align-items: flex-end">
          <button
            class="btn btn-warning mt-3"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
          >
            Muokkaa
          </button>
          <button
            class="btn btn-danger mt-3"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            style="margin-left: 1rem"
          >
            Poista
          </button>
        </div>
      </div>

      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Muokkaa Tuotetta</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                th:action="@{/admin/tuotteet/{id}(id=${item.id})}"
                method="POST"
                enctype="multipart/form-data"
                onsubmit="handleEditSubmit(event, this);"
              >
                <div class="mb-3">
                  <label for="itemName" class="form-label">Nimi</label>
                  <input
                    type="text"
                    class="form-control"
                    id="itemName"
                    name="name"
                    th:value="${item.name}"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="itemPrice" class="form-label">Hinta</label>
                  <input
                    type="number"
                    class="form-control"
                    id="itemPrice"
                    name="price"
                    th:value="${item.price}"
                    required
                  />
                </div>
                <div class="mb-4">
                  <label for="itemDescription" class="form-label">Kuvaus</label>
                  <textarea
                    class="form-control"
                    id="itemDescription"
                    name="description"
                    th:text="${item.description}"
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="itemManufacturer" class="form-label"
                    >Valmistaja</label
                  >
                  <select
                    class="form-select"
                    id="itemManufacturer"
                    name="manufacturer.id"
                  >
                    <option
                      th:each="manufacturer : ${manufacturers}"
                      th:value="@{${manufacturer.id}}"
                      th:selected="@{${manufacturer.id == item.manufacturer.id}}"
                      th:text="@{${manufacturer.name}}"
                    ></option>
                  </select>
                </div>
                <div class="mb-5">
                  <label for="itemSupplier" class="form-label"
                    >Toimittaja</label
                  >
                  <select
                    class="form-select"
                    id="itemSupplier"
                    name="supplier.id"
                  >
                    <option
                      th:each="supplier : ${suppliers}"
                      th:value="@{${supplier.id}}"
                      th:selected="@{${supplier.id == item.supplier.id}}"
                      th:text="@{${supplier.name}}"
                    ></option>
                  </select>
                </div>
                <div class="mb-5">
                  <label class="form-label" for="itemImage">Lataa kuva</label>
                  <input
                    type="file"
                    class="form-control"
                    id="itemImage"
                    name="image"
                    accept=".png"
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Tallenna muutokset
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">
                Vahvista poistaminen
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Haluatko varmasti poistaa tuotteen
              <strong th:text="${item.name}"></strong>?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Peruuta
              </button>
              <form
                th:action="@{/admin/tuotteet/{id}/poista(id=${item.id})}"
                method="post"
                style="display: inline"
                onsubmit="return handleDeleteSubmit(this);"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="hidden"
                  name="${_csrf.parameterName}"
                  value="${_csrf.token}"
                />
                <button type="submit" class="btn btn-danger">Poista</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script>
      function handleEditSubmit(event, form) {
        event.preventDefault();
        fetch(form.action, {
          method: "POST",
          body: new FormData(form),
        })
          .then((response) => {
            if (response.ok) {
              const modal = bootstrap.Modal.getInstance(
                document.getElementById("editModal")
              );
              modal.hide();
              window.location.reload();
            } else {
              alert("Muokkaaminen epäonnistui.");
            }
          })
          .catch((error) => {
            console.error("Virhe:", error);
            alert("Muokkaamisessa tapahtui virhe.");
          });
      }
    </script>

    <script>
      function handleDeleteSubmit(form) {
        event.preventDefault();
        fetch(form.action, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams(new FormData(form)),
        })
          .then((response) => {
            if (response.ok) {
              const modal = bootstrap.Modal.getInstance(
                document.getElementById("deleteModal")
              );
              modal.hide();
              window.location.href = "/admin/tuotteet";
            } else {
              alert("Poistaminen epäonnistui.");
            }
          })
          .catch((error) => {
            console.error("Virhe:", error);
            alert("Poistamisessa tapahtui virhe.");
          });
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
