<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Admin - Tuotteet</title>
  </head>
  <body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <main class="container mt-5">
      <h1>Kaikki tuotteet</h1>
      <form
        id="categoryForm"
        method="get"
        action="/admin/tuotteet"
        style="margin-top: 3rem; width: 30%; min-width: 200px"
      >
        <div class="mb-3">
          <label for="categorySelect" class="form-label"
            >Valitse kategoria</label
          >
          <select
            class="form-select"
            id="categorySelect"
            name="categoryId"
            onchange="document.getElementById('categoryForm').submit();"
          >
            <option value="1" th:selected="${selectedCategory == 1}">
              Kahvilaitteet
            </option>
            <option value="2" th:selected="${selectedCategory == 2}">
              Kulutustuotteet
            </option>
          </select>
        </div>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nimi</th>
            <th scope="col">Hinta (€)</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${items}">
            <th scope="row" th:text="${item.id}">1</th>
            <td th:text="${item.name}">Tuotteen nimi</td>
            <td th:text="${item.price}">0.00</td>
            <td>
              <a th:href="@{/admin/tuotteet/{itemId}(itemId=${item.id})}"
                >Avaa</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
